

<form action='/checkout' method="POST">
    <label> this is the checkout </label><br>
    <label> this is your item: <%= @session[:item] %></label><br>
    <%# <input id="submit" type="submit" value="submit"> %>

</form>
